[Unit]
Description=V2Ray%i Service
After=rc-local.service

[Service]
Type=simple
PIDFile=/run/v2ray%i.pid
ExecStart=/root/v2ray/v2ray -config /root/v2ray/config%i.json
Restart=always
LimitNOFILE=512000
LimitNPROC=512000
# 柔性限制
# MemoryHigh=90%
# 刚性限制
# MemoryMax=25%

[Install]
WantedBy=multi-user.target
