[Unit]
Description=V2Ray Service
After=rc-local.service

[Service]
Type=simple
PIDFile=/run/v2ray.pid
ExecStart=/root/v2ray/v2ray -config /root/v2ray/config.json
Restart=always
LimitNOFILE=512000
# Don't restart in the case of configuration error
RestartPreventExitStatus=23
# 柔性限制
# MemoryHigh=90%
# 刚性限制
# MemoryMax=25%

[Install]
WantedBy=multi-user.target
