*.lovegoogle.xyz:443
{

proxy /update 127.0.0.1:1000 {
websocket    #反代websocket协议
transparent  #向后方传递原始请求信息
}

proxy / https://www.speedtest.net
tls {
load /root/v2ray/Caddy
protocols tls1.2 tls1.3
}
}

:80
{
proxy /update 127.0.0.1:1000 {
websocket    #反代websocket协议
transparent  #向后方传递原始请求信息
}

}
