[Unit]
Description=Caddy Service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
StartLimitIntervalSec=14400
StartLimitBurst=10
[Service]
PIDFile=/run/caddy.pid
ExecStart=/root/v2ray/Caddy/caddy   -log stdout -log-timestamps=false -quiet -agree=true -conf=/root/v2ray/Caddy/Caddyfile -quiet
Restart=on-abnormal
LimitNOFILE=512000
LimitNPROC=512
# Don't restart in the case of configuration error
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
